{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Document</title>-->
</head>
<body>
    
  

    <center>
        <div class="card" style="width: 28rem;">
    <img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-shadow.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><h1>Gamón Limpeza </h1></h5>
      <p class="card-text">Esta historia da comienzo por el esfuerzo participativo de diversos sectores y personajes de la Comarca Lagunera y de la vida nacional. Entre éstos, un grupo de egresados(as) del Instituto Politécnico Nacional, conjuntamente con personal del sector productivo y social, entre ellos, el Licenciado Gustavo Díaz Ordaz, Presidente de la República; El Secretario de Educación Pública, Ing. Víctor Bravo Ahuja y el Lic. Braulio Fernández Aguirre, Gobernador Constitucional de Coahuila y el entonces Presidente Municipal de Torreón, Ing. Heriberto Ramos González, el cual culminó el día primero de septiembre de 1965, con el nacimiento del Instituto Tecnológico Regional De La Laguna.
        Las características del desarrollo agrícola, ganadero e industrial de la región lagunera, planteaban la necesidad de técnicos especializados y de profesionistas capaces de promover, planear, dirigir y organizar las industrias existentes y las de nueva creación.
        Para satisfacer esta necesidad, se fundó el Instituto Tecnológico Regional De La Laguna, iniciando sus actividades el 26 de Septiembre de 1965. A nivel medio superior se comenzó en 1965 con el Bachillerato de Ciencias y Tecnología en tres opciones: Eléctrica, Mecánica automotriz (combustión interna) y Mecánica (máquinas y herramientas). La población escolar ascendió a 352 estudiantes inscritos en los siguientes niveles: 152 en medio superior, 148 en técnico industrial y 52 técnicos agropecuarios, atendidos por 2 directores, 21 docentes y 8 personal administrativo..</p>
      
    </div>
  </div>
    </center>